local:
  hosts:
    192.168.1.66:
      ansible_user: dev
      ansible_ssh_private_key_file: '~/.ssh/id_ed25519'
      ansible_ssh_port: 2222
      root_path: '/home/{{ ansible_user }}/dev.com'
      ansible_python_interpreter: /usr/bin/python3

remote:
  hosts:
    128.65.199.10:
      ansible_user: eembouz
      root_path: '/home/{{ ansible_user }}/eembouz.com'
      ansible_python_interpreter: /usr/bin/python3
