server {
    listen      80;
    listen      [::]:80;
    server_name localhost;

    # security
    include     nginxconfig.io/security.conf;

    # logging
    access_log  /var/log/nginx/access.log combined buffer=512k flush=1m;
    error_log   /var/log/nginx/error.log warn;

    # reverse proxy
    location / {
        proxy_pass            http://localhost:3333;
        proxy_set_header Host $host;
        include               nginxconfig.io/proxy.conf;
    }

    # additional config
    include nginxconfig.io/general.conf;
}

# subdomains redirect
server {
    listen      80;
    listen      [::]:80;
    server_name *.localhost;
    return      301 http://localhost:3333$request_uri;
}